html,
body,
#map {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 1;
  background-color: #e9e5dc;
  background-image: url("Background/background.png");
  background-repeat: repeat;
  background-size: 500px 500px;
}

@font-face {
  font-family: 'Lato';
  src: url('Fonts/Lato/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato_Bold';
  src: url('Fonts/Lato/Lato-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.welcome-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e9e5dc;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 0.6s ease;
}

.welcome-screen img {
    max-width: 100%;
    height: auto;
}

.welcome-screen.hidden {
    opacity: 0;
    pointer-events: none;
}
#strzalka-polnocy {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 60px;
  height: 60px;
  z-index: 1000;
  display: flex;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.3));
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#strzalka-ikona {
  width: 80%;
  transition: transform 0.1s linear;
}

.leaflet-control-zoomhome a {
  background-color: #ffffff;
  color: #2d283e;
}

.leaflet-control-zoomhome a:hover {
  background-color: #f4f4f4;
  color: #2d283e;
}

.leaflet-control-layers-toggle {
    background-image: url('Marker_cluster/Layers.svg') !important;
    background-size: 26px 26px;
}

.sidebar-open .leaflet-top.leaflet-left,
.sidebar-open .leaflet-bottom.leaflet-left {
    display: none;
}

.sidebar-icon-img {
  width: 20px;
  height: 20px;
  display: block;
  margin: 10px auto;
}

#picture-tab {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.normal-text {
  font-size: 15px;
  line-height: 1.8;
  text-align: justify;
  font-family: 'Lato', sans-serif;
  color: #2d283e;
  margin-top: 20px;
  hyphens: auto;
}

.normal-text b {
  color: #4a3f6c;
  font-weight: 600;
}

.normal-text a {
  color: #4a3f6c;
}

.normal-text2 {
  font-size: 15px;
  line-height: 1.8;
  text-align: left;
  font-family: 'Lato', sans-serif;
  color: #2d283e;
  margin-top: 20px;
  hyphens: auto;
}

.normal-text2 b {
  color: #4a3f6c;
  font-weight: 600;
}

.normal-text2 a {
  color: #4a3f6c;
}

.zoo-menu-list {
  list-style-type: none;
  padding: 0;
  margin: 20px 0px;
  line-height: 1.8;
  text-align: left;
}

.zoo-menu-list li {
  margin-bottom: 30px;
}

.link-zoo {
  display: inline-block;
  text-decoration: none;
  color: #2d283e !important;
  font-family: 'Lato', sans-serif;;
  font-size: 18px;
  transition: 0.3s;
}

.link-zoo:hover {
  color: #4a3f6c !important;
  transform: scale(1.05);
}

.search-text {
  font-size: 15px;
  line-height: 1.8;
  text-align: center;
  font-family: 'Lato', sans-serif;
  color: #2d283e;
  margin-top: 20px;
  hyphens: auto;
}

.search-button{
  background-color: #2d283e; 
  color: white; 
  padding: 4% 20px; 
  border: none; 
  border-radius: 5px; 
  font-size: 16px; 
  font-weight: bold;  
  cursor: pointer; 
  transition: background-color 0.3s ease; 
  width: 100%;
}

.search-button:hover{
  background-color: #675991; 
} 

.leaflet-control-layers-toggle {
    width: 30px !important;
    height: 30px !important;
    background-size: 20px 20px;
}

.restaurant-cluster {
  background-clip: padding-box;
  border-radius: 50%;
}

.restaurant-cluster div {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pathway-route {
  stroke: #ebe5e0;
  stroke-width: 4px;
  opacity: 1;
}

.pathway-route-border {
  stroke: #8b7f77;
  stroke-width: 5px;
  opacity: 1;
}

.restaurant-cluster.cluster-large {
  background-color: #dcae5bff;
}

.restaurant-cluster.cluster-medium {
  background-color: #dcae5bff;
}

.restaurant-cluster.cluster-small {
  background-color: #dcae5bff;
}

.toilets-cluster {
  background-clip: padding-box;
  border-radius: 50%;
}

.toilets-cluster div {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toilets-cluster.cluster-large {
  background-color: #68cfcfff;
}

.toilets-cluster.cluster-medium {
  background-color: #68cfcfff;
}

.toilets-cluster.cluster-small {
  background-color: #68cfcfff;
}

.resting_places-cluster {
  background-clip: padding-box;
  border-radius: 50%;
}

.resting_places-cluster div {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.resting_places-cluster.cluster-large {
  background-color: rgb(56, 109, 36);
}

.resting_places-cluster.cluster-medium {
  background-color: rgb(91, 157, 65);
}

.resting_places-cluster.cluster-small {
  background-color: #85cf68ff;
}

.enclosures-cluster {
  background-clip: padding-box;
  border-radius: 50%;
}

.enclosures-cluster div {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.enclosures-cluster.cluster-large {
  background-color: #813503;
}

.enclosures-cluster.cluster-medium {
  background-color: #98440c;
}

.enclosures-cluster.cluster-small {
  background-color: #b25517;
}

.leaflet-control-layers input[type="checkbox"] {
    width: 16px;
    height: 16px;
    accent-color: #2d283e;
    cursor: pointer;
}